

body {
/* 	font: 13px Helvetica, Arial; */
	font-family: "Roboto", sans-serif !important;
	margin: 0;
	padding: 1%;
	width: 100%;
	height: 100%;
}

#container {
	display: flex;
	justify-content: center;
}

#content {
	display: flex;
	justify-content: center;
	width: 95%;
	flex-direction: column;
}

#header {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.spacer {
	width: 100%;
	height: 100px;
}

#urls {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.flexbox-center {
	display: flex;
	justify-content: center;
}

.italics {
	font-style: italic;
}


